<!DOCTYPE html>
<html lang="zh-cn" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>组织管理中心</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="css/manage.css" rel="stylesheet">
    <link rel="stylesheet" href="css/paging.css"/>

    <!--[if lt IE 9]>
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <style>
        #create_active .fr li{
            height:45px;
        }
    </style>
</head>
<body ng-controller="parentCtrl">
<div id="header">
    <div class="container">
        <a href="../index.html"><img class="logo" src="img/logo.png"/></a>
        <p class="title">用户管理中心</p>
    </div>
</div>
<div id="nav">
    <div class="container">
        <ul class="fl">
            <li>
                欢迎回来，<span>admin</span>
            </li>
            <li>
                <a href="../index.html">网站首页</a>
            </li>
            <li>
                <a href="#">注销</a>
                /
                <a href="#/modifyPwd" class="notice">修改密码</a>
            </li>
        </ul>
        <ul class="fr">
            <li>
                登录时间：2017年2月17日 星期三
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="container">
        <div id="box_left">
            <ul>
                <li class="active" ng-click="jump('/orgInfo')">组织信息</li>
                <li ng-click="jump('/createActivity')">创建活动</li>
                <li ng-click="jump('/newVolunReview')">组织志愿者审核</li>
                <li ng-click="jump('/actVolReview')">活动志愿者审核</li>
            </ul>
        </div>
        <div id="box_right">
            <div class="right_main" ng-view>

            </div>
            <div class="footer">
                <div class="copyright fl">
                    <p class="notice">志愿阜阳&nbsp; |&nbsp; 联系电话：0558-2285111</p>
                    <p>Copyright © 2016 http://www.10068.cn</p>
                </div>
                <div class="address fr">
                    <p>地址：安徽省阜阳市颍州南路001号</p>
                    <p>皖ICP备06043023号</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="js/paging.js"></script>
<script src="js/manage.js"></script>
</body>
</html>